{% load static %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <!-- Font Awesome Icons -->
    <link href="{% static 'css/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'css/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <title>Story 9</title>

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
  
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'story/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static 'js/javascript.js' %}"></script>
</head>

<body>

    {% if user.is_authenticated %}

    <h1 class='judul'>Logout Successfully 
        {{user.username}}</h1>

    <div class="content">
    </div>
    <div class="centre-items tombol">
        <a class='btn btn-primary tombol' href="{% url 'story9:index' %}">logout</a>
    </div>
    {% else %}

    <h1 class='judul'>Logout Successfully!</h1>
    <h3>Selamat anda telah keluar dari halaman saya ini</h3>

    <div class='form'>
        <form action="{% url 'story9:index' %}" method="POST">
            {% csrf_token %} {{ form }}
            <div class="centre-items tombol">
                <input type="submit" class="btn btn-primary" value="Home" id="submit">
            </div>
        </form>
    </div>

    {% endif %}

</body>
</html>