body {
    margin-top: 2%;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
}

.input {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    float: right;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tombol {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
}
